.nav-item a{
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    color: black;
    text-align: start;

}
.navbar-inicio{
 
    width: 100%;
}

@media (max-width:992px){
    .nav-item{
        background-color:chartreuse;
        margin-left: 100px;
    }
}

#logo-header{
    width: 180px;
    height:  40px;
}





/*NAVBAR*/

.container-header{
    margin-left: 80px;
    display: flex;
   
}
#navbar {
    width: 100%;
   
}
#btnRegistrarse{
    margin: 10px;
    width: 120px;
    height: 40px;
}
.register{
   
    float: right ;
    margin-right: 70px;
    display: flex;
    padding-left: 10px;
}

/* dash admin*/

.offcanvas{
    transform: none;
    visibility: visible !important;
    width: 80px;
    height: 100%;
    background-color:lightblue;
    transition:  all .6s;
}
.offcanvas-body a span{
    padding-left: 10px;
    
}
.container-content{
    margin-top: 10px;
   
    margin-left: 381px;
    
}

/* opciones de dashadmin*/
.dropdown-toggle-lin{
    display: flex;
    margin-top: 10px;
}





:root{
    --frameWidth:300px;
    --frameHeight:300px;
   

}

.nav-link{
    margin-right: 40px;
}
.nav-content{
    margin-right: 100px;
}

.modal-header img{
    width: auto;
    height: auto;
    display: flex;
    margin: 0;
}
.modal-header h5{
    margin: auto;
    font-family: 'Times New Roman', Arial;
    font-size: 25px;
}
.modal-body h5{
    text-align: center;
    font-size: 25px;
    font-family: 'Times New Roman', Times, serif;
}
.modal-body h5{
    text-align: center;
    font-size: 25px;
    font-family: 'Times New Roman', Times, serif;
}
.modal-body .g-login{
    display: flex;
    margin-left: 150px;
}
.politica{
    margin-top: 20px;
    margin-left: 20px;
    font-size: 14px;
    font-family: 'Times New Roman', Times, serif;
}
.form-floating {
    width: 400px;
    margin-left: 30px;
}



.container-carrusel {
    margin: 50px;
    justify-content: center;
    
}

.container-buscador{
    margin-top: 30px;
}
.d-block{
    border-radius: 5%;
    height: 200px;
   
}


.container-nav{
    margin-top: 20px;
}





nav{
    background-color:cadetblue;
    position: fixed;
    width: 100%;
    
}
.container-buscador div{
    background-color: blue;
}
.card-container{
    display: flex;
}
.container-card{
    margin-top: 50px;
}
.card{
    margin-left: 100px;
    border-radius: 10%;
    width: 18rem;
}
.card-img-top{
    border-radius: 10%;
}
.container-footer{
    background-color:gainsboro;
    margin-top: 50px;
}


.logo{
    width: 180px;
    height: 40px;
}

.container-card{
    margin-top: 25px;
}



.nav-item{
    margin-right: 100px;
}


.container{
    margin-top: 50px;
}


/* pantallas menores a 640, celulares*/

@media screen and (max-width: 640px) {
    .card-container{
        display: inline-block;
    }
    .card{
        margin-left: 80px;
        margin-top: 20px;
        width: 18rem;
    }

    .nav-item{
        margin-left: 0px;
    }

    
}
/* pantallas entre 640 y 1280, tablet*/
@media screen and (min-width: 640px) and (max-width: 768px) {
    .card-container{
        display: inline-block;
    }
    .card{
        margin-left: 50px;
        margin-top: 20px;
        width: 20rem;
    }
    .nav-item{
        margin-left: 0px;
    }
   
}
@media screen and (min-width: 768px) and (max-width: 992px) {
    .card-container{
        display: flex;
    }
    .card{
        margin-left: 10px;
        margin-top: 20px;
        width: 22rem;
    }
    .nav-item{
        margin-left: 15px;
    }
    .btn-nav-2{
        visibility: hidden-focable;
    }
   
}
/* pantallas mayores a 1280, computador */
@media screen and (min-width: 992px)and (max-width: 1280px) {
    .card-container{
        display: flex;
    }
    .card{
        margin-left: 60px;
        margin-top: 20px;
        width: 23rem;
        border-radius: 5%;

    }
    
    .nav-item{
        margin-left: 15px;
    }

}


body {
    background: #d3cce3; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #e9e4f0, #d3cce3); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #e9e4f0, #d3cce3); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.centered {
    text-align: center !important;
    vertical-align: middle !important;
}